body{
    background: url("../image/bg.jpg") no-repeat;
    background-attachment: fixed;
    background-size:cover ;
  }
  .usericon{
    position: absolute;
    width: 70px;
    top: -35px;
    left: 41%;
  }
  .content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
  
  }
  form {
    background-color: #342e28;
    width: 450px;
    min-height: 400px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
  }
  .inner{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 70px;
    font-size: 10px;
    color: white;
  }
  .box{
    margin-bottom:25px ;
    width: 300px;
    height: 30px;
    border:none;
    border-radius: 25px;
    text-align: center;
    font-size: 15px;
    outline: none;
  }
  .forlink{
    margin-right: 200px;
    font-size: 15px;
    margin-bottom:30px ;
  }
  button{
    padding:10px;
    width: 150px;
    border:none;
    outline: none;
    border-radius:20px ;
    margin-bottom: 30px;
  }
  p{
    font-size: 15px;
  }
  a{
    color:pink;
  }
  