*{
    margin: 0;
    padding: 0;
}
.header{
    position: fixed;
    top:0;
    left:0;
    height: 60px;
    width:100%;
    display: flex;
    text-align: left;
    border:1px solid;
    background-color: #F0F3F4 ;  
}
.logoutpic{
    position: absolute;
    top:6px;
    right: 20px;
    width:40px;
    border:1px solid black;
    border-radius: 25px;
    cursor: pointer;
}
h1{
    padding: 10px;
    margin-left: 30px;
}
.box{
    position: absolute;
    top:20%;
    left:50%;
    width: 400px;
    height: 10%;
    z-index: -1;
    transform: translate(-50%,-50%);  
}
.inputbox{
    width: 60%;
    padding: 10px;
    margin-left: 20px;
    margin-right: 20px;
    border:1px solid;
    border-radius: 10px;
    outline: none;
}
.btn{
    width: 70px;
    height: 30px;
    border-radius: 10px;
    outline: none;
    border:1px solid;
    cursor: pointer;
}
.box-main{
    position: relative;
    top:30px;
}
.items{
background-color: #A3E4D7 ;
border-radius: 5px;
padding: 5px;
margin-top:15px;
text-align: left;
margin-left:10px ;
}
.task-name{
    position: relative;
    top: 10px;
    left: 10px;
    color:#EC7063 ;
    cursor: pointer;
}
.icon{
    position: relative;
    top:-10px;
    right:-90%;
    margin-right: 10px;
    background:none;
    border:none;
    outline: none;
    justify-items: center;
    cursor: pointer;
}
.completed-task{
    text-decoration: line-through;
}
.loadingbody{
    margin: 0;
    padding: 0;
    background: #34495e;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "montserrat",sans-serif;
}
.loading{
    width: 200px;
    height: 200px;
    box-sizing: border-box;
    border-radius: 50%;
    border-top: 10px solid #e74c3c;
    position: relative;
    animation: a1 2s linear infinite;
}
.loading::before,.loading::after{
    content: '';
    width: 200px;
    height: 200px;
    position: absolute;
    left: 0;
    top: -10px;
    box-sizing: border-box;
    border-radius: 50%;
}
.loading::before{
    border-top: 10px solid #e67e22;
    transform: rotate(120deg);
}
.loading::after{
    border-top: 10px solid #3498db;
    transform: rotate(240deg);
}
.load{
    position: absolute;
    width: 30px;
    height: 200px;
    color: #fff;
    text-align: center;
    line-height: 200px;
    animation: a2 2s linear infinite;
}
@keyframes a1 {
    to{
      transform: rotate(360deg);
    }
}
@keyframes a2 {
    to{
      transform: rotate(-360deg);
    }
}
  

